.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    color: $color-dark-l;
    margin: 0 0 10px;
  }
  &__subtitle {
    color: $color-dark-3xl;
    @include font($size: 1.3rem, $height: 1.5rem);
    letter-spacing: 0.1em;
  }
}
