.pets__wrapper {
  position: relative;
  text-align: center;
  padding: 80px 0 91px;
  background: $color-light-l;
}

.pets__title {
  margin: 0 0 60px;
}

.pet-wrapper {
  justify-content: center;
  column-gap: 40px;
  row-gap: 30px;
  > * {
    flex-basis: 21%;
  }
}

.pet {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: relative;
}

.pet__content {
  padding: 30px 0 30px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.pet__name {
  margin: 0 0 29px;
}
.pets__controls {
  margin-top: 60px;
  & > *:not(:last-child) {
    margin-right: 15px;
  }
}
.pets__number {
  cursor: pointer;
}
.pets__arrow {
  border-radius: 100px;
  cursor: pointer;
  @extend %transition;
  /* &:hover {
    background-color: $color-primary;
  } */
}
