.about__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0 100px 0;
  /* @include media-mobile {
    flex-direction: column-reverse;
  } */
}

.about__content {
  max-width: 430px;
  margin-left: 120px;
  /* @include media-tablet {
    padding-left: 0;
  }
  @include media-mobile {
    text-align: center;
  } */
  & > *:not(:last-child) {
    margin: 0 0 25px;
  }
}

.about__title {
  max-width: 370px;
}

.about__text {
  margin: 0;
  @include font(1.5rem, 2.4rem);
  color: $color-dark-xl;
}

.promo__image {
  /*  @include media-tablet {
    max-width: 100%;
  } */
}
