.pets__wrapper {
  position: relative;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 100px;
  background: $color-light-l;
  @include media-tabletsmall {
    padding-top: 42px;
    padding-bottom: 42px;
  }
}

.pets__title {
  margin: 0 0 60px;
  @include media-mobile {
    margin-bottom: 42px;
  }
}

.pet-wrapper {
  justify-content: center;
  gap: 90px;
  > * {
    flex-basis: 21%;
    margin-bottom: 61px;
    @include media-mobile {
      margin-bottom: 38px;
    }
  }
  & > :last-child {
    @include media-laptop {
      display: none;
    }
  }
  > *:not(:first-child) {
    @include media-tabletsmall {
      display: none;
    }
  }
  @include media-laptop {
    gap: 40px;
  }
}

.pet {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: relative;
}

.pet__content {
  padding: 30px 0 30px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.pet__name {
  margin: 0 0 29px;
}

.pet__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-33%);
  border-radius: 100px;
  cursor: pointer;
  @extend %transition;
  @include media-tabletsmall {
    position: static;
  }
  &:hover {
    background-color: $color-primary;
  }
  &-left {
    left: 40px;
    @include media-tablet {
      left: 30px;
    }
    @include media-tabletsmall {
      margin-right: 78px;
    }
  }
  &-right {
    transform: rotate(180deg) translateY(33%);
    right: 40px;
    @include media-tablet {
      right: 30px;
    }
  }
}
.pets__button {
  @include media-tabletsmall {
    margin-top: 17px;
  }
}
