$color-primary: #f1cdb3;
$color-primary-light: #fddcc4;
$color-light-xl: #ffffff;
$color-light-l: #f6f6f6;
$color-light-s: #fafafa;
$color-dark: #000000;
$color-dark-3xl: #292929;
$color-dark-2xl: #444444;
$color-dark-xl: #4c4c4c;
$color-dark-l: #545454;
$color-dark-m: #b2b2b2;
$color-dark-s: #cdcdcd;
$color-overlay: #29292999;

$content-width: 1280px;
$tablet-width: 768px;
$tablet-small-width: 767px;
$mobile-big-width: 425px;
$mobile-small-width: 320px;
